aiohappyeyeballs==2.4.3
aiohttp==3.11.4
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==4.0.3
attrs==20.3.0
aws-cfn-bootstrap==2.0
awscli==2.15.30
awscrt==0.19.19
Babel==2.9.1
beautifulsoup4==4.12.3
blinker==1.9.0
botocore==1.35.60
cachetools==5.5.0
certifi==2024.8.30
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.4.0
chevron==0.13.1
click==8.1.7
cloud-init==22.2.2
colorama==0.4.4
configobj==5.0.6
cryptography==36.0.1
dataclasses-json==0.6.7
dbus-python==1.2.18
distro==1.9.0
docutils==0.16
duckduckgo_search==6.3.5
ec2-hibinit-agent==1.0.8
exceptiongroup==1.2.2
frozenlist==1.5.0
git-remote-codecommit==1.17
gitdb==4.0.11
GitPython==3.1.43
gpg==1.15.1
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
httpx-sse==0.4.0
idna==2.10
ikp3db==1.4.2
Jinja2==2.11.3
jiter==0.7.1
jmespath==0.10.0
jsonpatch==1.33
jsonpointer==2.0
jsonschema==3.2.0
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.19
langchain-openai==0.2.9
langchain-text-splitters==0.3.2
langchainhub==0.1.21
langsmith==0.1.143
libcomps==0.1.20
lockfile==0.12.2
markdown-it-py==3.0.0
MarkupSafe==1.1.1
marshmallow==3.23.1
mdurl==0.1.2
mercurial==5.7.1
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.14.0
netifaces==0.10.6
numpy==1.26.4
oauthlib==3.0.2
openai==1.54.5
orjson==3.10.11
packaging==24.2
pandas==2.2.3
pillow==11.0.0
ply==3.11
prettytable==0.7.2
primp==0.7.0
prompt-toolkit==3.0.24
propcache==0.2.0
protobuf==5.28.3
pyarrow==18.0.0
pycparser==2.20
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
pyparsing==2.4.7
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2022.7.1
PyYAML==5.4.1
regex==2024.11.6
release-notification==1.2
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpm==4.16.1.3
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
selinux==3.4
sepolicy==3.4
setools==4.4.1
six==1.15.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.35
streamlit==1.40.1
streamlit-chat==0.1.1
support-info==1.0
systemd-python==235
tenacity==9.0.0
tiktoken==0.8.0
toml==0.10.2
tornado==6.4.1
tqdm==4.67.0
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
wcwidth==0.2.5
wikipedia==1.4.0
yarl==1.17.2
